@import "@/styles/colors.scss";

.card-container {
  margin-top: 1rem;
  cursor: pointer;
  background-color: $black-color;

  img {
    height: 500px;
    object-fit: cover;
  }

  button {
    background: $primary-color;
  }
}

.card {
  border: 0;
  border-radius: 8px !important;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }

  .card-body {
    color: $white-color;
    width: 100%;
    background-color: $black-color;
    transition: all 0.2s;

    .card-text {
      color: #666b6f;
      display: flex;
      gap: 1rem;
      align-items: center;
      > span {
        color: white;
      }
    }
  }
}
